{% from 'header.html' import header %}
{% from '_renderfield.html' import renderfield %}
<!DOCTYPE html>
<html>
  <head> {{ header(title) }} </head>
  <body>
    <div class = "container">
      <h1>
        Avatar Learning Center Classroom Report Form
      </h1>
        
      <p>Welcome to <em>my</em> brand new website. This site will be my <strong>new home on the web. <br><br> Please log in to your class to view student list. <br>
      </p>
          
      <form method = "POST" action = "/">
        {{ form.csrf_token }}
        <fieldset class = fieldset-auto-width>
          <legend>Login Info</legend>
          {{ form.csrf_token }}
    			{{ renderfield(form.username) }}
          {{ renderfield(form.password) }}
          {{ renderfield(form.classroom) }}
          <button type="button" class="btn btn-primary">Login</button>
        </fieldset>
          </strong>
      </form>
  
    </div>      
  </body>
</html>

