{% from 'header.html' import header %}
{% from '_renderfield.html' import renderfield %}
<!DOCTYPE html>
<html>
  <head> {{ header(title) }} </head>
  <body>
    <div class = "container">
      <h1>
        Avatar Learning Center Classroom Report Form
      </h1>
      <br>
      <h2 style = "color: #f53a33"> Notify Parents of Tardy Students <br><br>
      </h2>
      
      <form method = "POST" action = "/submitted">
        {{ form.csrf_token }}

        {{ renderfield(form.date) }}
        {{ renderfield(form.classroom) }}
        {{ renderfield(form.avatargrade) }}
        {{ renderfield(form.teachername) }}
        
        <br><hr><br>
        
              <fieldset class = fieldset-auto-width style = "padding: 6px; input: margin: 0.5rem; ">
                <table class="table table-striped table-hover table-light table-small table-bordered">
                  <tbody>
                  <tr>
                    <th class = table-header >Count</th>
                    <th class = table-header >Student</th>
                    {% for heading in headings %}
                    <th class = table-header> {{ heading }} </th>
                    {% endfor %}
                  </tr>
                  
                    {% for row in range(data|length) %}
                      <tr class = table-row>
                        <td class = table-cell> {{ row + 1 }} </td>
                        <td class = table-cell> 
                          <!--input name = "student" id= {{row}} value = {{ data.iloc[row]['Student Name'] }} -->
                          {{ data.iloc[row]['Student Name'] }}
                        </td>
                        <td > <input type="checkbox" name="sms" id = "sms" value = {{row}}> </td>
                        <!--td class = table-cell>
                          <input name="comment" id= {{row}} value = "">
                      </td-->
                        <!--td class = table-cell--> 

                        <input hidden name="phone" id= {{row}} value = {{ data.iloc[row]["Parent phone"] }}>
                        <input hidden name="student" id= {{row}} value = {{ data.iloc[row]['Student Name'] }}>   
                        
                        <!--/td-->

                      {% endfor %}
                      </tr>
                    
                  </tbody>
                </table>

              </fieldset>
        
        <br><hr><br>

      <!--fieldset class = fieldset-auto-width style = "
    padding: 6px; input: margin: 0.5rem; ">
        <legend style = "background-color: #fff; color: #1a4171; padding: 1px 1px;font-size:20px">General comments about today's class</legend>
                  
      <div class = text-area>
				<textarea rows="5" cols="80" name="message" id="message"></textarea>
			</div>
      </fieldset-->

        <!--button type="button" class="btn btn-primary" onclick="submitted()">Submit</button-->
        <input type = "submit" value="Submit" class="btn btn-primary" onclick="save_data()">

      </form>

  
    </div>      
  </body>
</html>

